.input {
   
   display: flex;
   height: 4em;
   flex: 1;
   background: black;
   outline: 1px solid grey;
   color: white;
   justify-content: flex-end;
   padding: 0;
   font-weight: bold;
   font-size: 1.4em;
   align-items: center;
}